.blog-boxes {
    padding: 100px 0;

    .blog-box {
        .img {
            img {
                width: 100%;
            }
        }

        .img-text {}
    }

    button {
        font-size: 14px;
        font-weight: 500;
        border: 2px solid black;
        padding: 15px 30px;
        background-color: white;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}