#favories {
  h3 {
    margin: 20px;
  }

  .top {
    .table {
      width: 100%;
      border-collapse: collapse;

      tbody {
        border: none;
      }


      td {
        .icon {
          border-radius: 7px;
          background: #ffc400;
          font-size: 14px;
          line-height: 15px;
          padding: 10px 12px;
          color: #fff;
          font-weight: 400;
          cursor: pointer;
          margin: auto;
        }

        .icon1 {
          border-radius: 7px;
          background: #ffc400;
          font-size: 14px;
          line-height: 15px;
          padding: 10px 15px;
          color: #fff;
          font-weight: 400;
          margin: auto;
          cursor: pointer;
        }
      }

      td,
      th {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 16px;
        vertical-align: middle;

      }

      th {
        background-color: #ffc400;
        color: #ffffff;

      }
    }

    .table tbody tr:nth-child(even) {
      background-color: #f5f5f5;
    }

    .wishlist-none {
      display: block;
      border: none;
      padding: 30px;
      text-align: center;
    }


  }
}

.bottom {

  padding-bottom: 50px;


  .shoppingButton {
    padding: 15px 10%;
    margin: 10px 0;
    text-align: center;
    border: 1px solid transparent;
    outline: none;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: #ffc400;
    color: white;

    &:hover {
      background-color: transparent;
      border: 1px solid rgb(197, 197, 197);
      color: black;
    }
  }
}



table,
th,
td,
tr {
  border: 1px solid rgb(199, 199, 199);

}

@media(max-width: 768px) {
  .table thead {
    display: none;
    border: none !important;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  tbody {
    img {
      width: 50%;
    }
  }

  .table tr {
    margin-bottom: 0px;
  }

  .table td {
    height: auto;
    padding-left: 50%;
    text-align: right !important;
    position: relative;

    .icon,
    .icon1 {
      margin: 0 1px !important;
    }

  }

  .table td::before {
    content: attr(data-label);
    height: auto;
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}