.moreAbout-section {

    .boxes {
        display: flex;
        flex-wrap: wrap;

        .left-box {
            height: 100%;
            background-color: #6cb975;
            position: relative;

            .text {
                width: 60%;
                position: absolute;
                left: 60%;
                top: 50%;
                transform: translate(-60%, -50%);
                color: white;

                h2 {
                    margin-bottom: 20px;
                    font-size: 40px;
                    font-weight: 600;
                }

                button {
                    margin-top: 10px;
                    font-size: 13px;
                    font-weight: 500;
                    background-color: inherit;
                    color: white;
                    padding: 12px 30px;
                    border: 2px solid white;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: #151514;
                        border-color: #151514;
                    }
                }
            }
        }

        .right-box {
            img {
                background-position: center;
                width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .boxes {
        .left-box {
            height: 500px !important;

            .text {
                width: 80%;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    .boxes {
        .left-box {
            height: 550px !important;

            .text {
                width: 90%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    .boxes {
        .left-box {
            height: 550px !important;

            .text {
                width: 90%;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}