.shop-banner {
    background-image: url("https://themes.wpmarvels.com/furnihaus/demo/wp-content/uploads/2018/04/6607-1.jpg ");
    height: 300px;
    background-position: center center;
    position: relative;

    .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;

        h2 {
            color: white;
            font-weight: 400;
        }
    }

    .black {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.shop-list {
    .seacrh-box {
        border: 1px solid black;
        padding: 5px;

        .search-input {
            margin-left: 10px;
            width: 100%;
            border: none;
            outline: none;
        }

    }

    .categories {
        width: 100%;

        button {
            width: 24%;
            background-color: transparent;
            font-size: 20px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }


    .products {

        .trendingproduct-box {
            .trendingproduct-img {
                position: relative;
                overflow: hidden;

                background-color: rgba(211, 211, 211, 0.21);
                width: 100%;
                padding-bottom: 140%;

                img {
                    position: absolute;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    transition: 0.3s ease-in-out;

                }

                .icons {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    .icon-box {
                        background-color: black;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        transition: 0.3s ease-in-out;
                        opacity: 0;

                        button {
                            background: none;
                            border: 0;
                            color: white;
                        }

                        cursor: pointer;

                        svg {
                            color: white;
                        }

                        span {
                            transition: 0.3s ease-in-out;
                            color: white;
                        }

                        &:nth-child(1) {
                            transform: translateX(5px);
                        }

                        &:nth-child(2) {
                            transform: translateX(15px);
                        }

                        &:nth-child(3) {
                            transform: translateX(25px);
                        }

                        &:nth-child(4) {
                            transform: translateX(35px);
                        }

                        &:hover {
                            background-color: #ffc400;

                            span {
                                color: black;
                            }
                        }
                    }
                }

            }


            .trendingproduct-text {
                span {
                    font-weight: 500;
                }
            }

            .cart-button {
                width: 100%;
                border: none;
                background-color: #ffc400;
                padding: 5px;
                transition: 0.2s ease-in-out;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }

            &:hover {
                .trendingproduct-img {
                    img {
                        transform: scale(1.1);
                    }

                    .icons {
                        .icon-box {
                            opacity: 1;
                            transform: translateX(0);
                            cursor: pointer;

                            svg {
                                color: white;
                            }
                        }

                    }
                }
            }


        }
    }
}

@media (max-width: 576px) {
    .shop-list {
        .categories {
            button {
                width: 90%;
                margin: auto !important;
                display: block;
                margin-bottom: 5px !important;
                padding: 10px 0;

            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media(min-width: 992px) and (max-width: 1200px) {}