.shop-banner{
    background-image: url("http://furnihaus.kaththemes.com/demo/wp-content/uploads/2018/04/6607-1.jpg");
    height: 300px;
    background-position: center center;
    position: relative;
    .text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 99;
        h2{
            color: white;
            font-weight: 400;
        }
    }
    .black{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.shop-list{
    padding: 100px 0;
    .products{
        .product-box {
            overflow: hidden;
    
            .product-img {
                position: relative;
    
                background-color: rgba(211, 211, 211, 0.21);
                width: 100%;
                height: 100%;
    
                img {
                    padding: 15% 0;
                    width: 100%;
                    transition: 0.3s ease-in-out;
                }
    
                .icons {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
    
                    .icon-box {
                        background-color: black;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        transition: 0.3s ease-in-out;
                        opacity: 0;
    
                        span {
                            transition: 0.3s ease-in-out;
                            color: white;
                        }
    
                        &:nth-child(1) {
                            transform: translateX(5px);
                        }
    
                        &:nth-child(2) {
                            transform: translateX(15px);
                        }
    
                        &:nth-child(3) {
                            transform: translateX(25px);
                        }
    
                        &:nth-child(4) {
                            transform: translateX(35px);
                        }
    
                        &:hover {
                            background-color: #ffc400;
    
                            span {
                                color: black;
                            }
                        }
                    }
                }
    
            }
    
    
            .product-text {
                span {
                    font-weight: 500;
                }
            }
    
            &:hover {
                .product-img {
                    img {
                        transform: scale(1.1);
                    }
    
                    .icons {
                        .icon-box {
                            opacity: 1;
                            transform: translateX(0);
                        }
    
                    }
                }
            }
    
    
        }
    }
}