.related-section {
    padding: 10% 0;

    .blog-box {
        .blog-img {
            overflow: hidden;

            img {
                width: 100%;
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .blog-text {
            padding: 10%;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px, rgba(0, 0, 0, 0.22) 0px 10px 10px 0px;

            .text-top {
                span {
                    font-weight: 500;

                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }

            button {
                font-size: 14px;
                font-weight: 500;
                border: 2px solid black;
                padding: 15px 30px;
                background-color: white;
                transition: 0.2s ease-in-out;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}