#not-found{
    padding: 100px 15px;
    text-align: center;
    .buttonBox {
        button{
            width: 80%;
            margin: 20px;
            padding: 10px 0;
            border: none;
            background-color: #DE1F23;
            color: white;
            border-radius: 5px;
        }
    
    }
}