#not-found{
    padding: 100px 30px;
    text-align: center;
    .buttonBox {
        button{
            margin: 20px;
            padding: 10px 200px;
            border: none;
            background-color: #DE1F23;
            color: white;
            border-radius: 5px;
        }
    
    }
}