#confirm{
    .confirmBox{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .card{
            margin-top: 30px;
        }
        .buttonBox {
            button{
                margin: 20px;
                padding: 10px 230px;
                border: none;
                background-color: #FF0000;
                color: white;
                border-radius: 5px;
            }
        }
    }
}