$blue: #0068c9;
$yellow: #fcbe00;
$turquoise: #16bcdc;

.productdetail-section {
    padding: 100px 0;

    .boxes {
        .left-box {
            cursor: pointer;
            .sml-picture {
              border: 1px solid rgb(198, 198, 198);
              padding: 10px;
              margin-bottom: 10px;
              border-radius: 5px;
              &.active {
                display: block;
              }
            }
          }

        .right-box {
            padding: 0 10%;

            h1 {
                color: #151514;
                font-weight: 700;
            }

            .price {
                font-size: 18px;
                color: #151514;
                font-weight: 600;
                margin: 10px 0;
            }

            .stock {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: bold;
                color: #4cc45a;
            }

            .outofstock{
                color: red;
            }

            .count {

                svg {
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: #ffc400;
                    }
                }

                input {
                    width: 70px;
                    height: 40x;
                    margin: 0 5px;
                    text-align: center;
                }
            }

            button {
                margin-top: 10px;
                padding: 10px 35px;
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                font-size: 17px;
                transition: 0.3s ease-in-out;
                border: none;

                svg {
                    margin: 0 3px;
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    background-color: #ffc400;
                }
            }

            .wishlist {
                a {
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    font-size: 18px;

                    svg {
                        margin-right: 5px;
                    }

                    &:hover {
                        color: #4cc45a;
                    }
                }
            }
        }
    }

    .boxess {
        margin-top: 50px;
        #description {
          margin-left: -20px;
          p {
            font-size: 16px;
            line-height: 1.7;
            margin-top: 0;
            margin-bottom: 1rem;
            font-family: "DM Sans", sans-serif;
            color: black;
          }
        }
        #comment {
          .top {
            .add {
              .admin {
                .date {
                  font-size: 16px;
                  font-weight: 600;
                  color: #6b6a81;
                }
                .light {
                  font-size: 15px;
                  color: #666;
                  margin-bottom: 15px;
                  line-height: 24px;
                }
              }
            }
          }
          .bottom {
            .comment-title {
              h2 {
                margin-top: 20px;
                font-size: 16px;
                color: #6b6a81;
                text-transform: uppercase;
                font-weight: 600;
              }
            }
            .comment-rating {
              span {
                font-size: 17px;
                color: #454545;
                margin-right: 5px;
              }
            }
            .comment-input-box {
              margin-top: 20px;
              .comment-input {
                input {
                  width: 100%;
                  height: 50px;
                  outline: none;
                  border: 1px solid #e5e5e5;
                  font-size: 15px;
                  color: #151515;
                  line-height: 48px;
                  margin-bottom: 20px;
                  padding: 20px;
                }
              }
              textarea {
                height: 130px;
                width: 100%;
                outline: none;
                border: 1px solid #e5e5e5;
                padding: 20px;
                font-size: 15px;
                color: #151515;
                margin-bottom: 15px;
              }
              .comment-submit {
                margin-top: 20px;
                margin-bottom: 20px;
                .cart-btn {
                  border-radius: 8px;
                  background: #ef292f;
                  border: 0;
                  font-size: 14px;
                  line-height: 15px;
                  padding: 10px 12px;
                  text-transform: uppercase;
                  color: #fff;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
}