.trendingproduct-section {
    padding: 100px 0;

    .trendingproduct-box {
        overflow: hidden;

        .trendingproduct-img {
            position: relative;

            background-color: rgba(211, 211, 211, 0.21);
            width: 100%;

            img {
                padding: 15% 0;
                width: 100%;
                transition: 0.3s ease-in-out;
                height: 430px;

            }

            .icons {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                .icon-box {
                    background-color: black;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;
                    opacity: 0;

                    cursor: pointer;

                    svg {
                        color: white;
                    }

                    span {
                        color: red;
                        transition: 0.3s ease-in-out;
                    }

                    &:nth-child(1) {
                        transform: translateX(5px);
                    }

                    &:nth-child(2) {
                        transform: translateX(15px);
                    }

                    &:nth-child(3) {
                        transform: translateX(25px);
                    }

                    &:nth-child(4) {
                        transform: translateX(35px);
                    }

                    &:hover {
                        background-color: #ffc400;

                        span {
                            color: black;
                        }
                    }
                }
            }

        }


        .trendingproduct-text {
            span {
                font-weight: 500;
            }
        }

        .cart-button {
            width: 100%;
            border: none;
            background-color: #ffc400;
            padding: 5px;
            border-radius: 5px;
        }

        &:hover {
            .trendingproduct-img {
                img {
                    transform: scale(1.1);
                }

                .icons {
                    .icon-box {
                        opacity: 1;
                        transform: translateX(0);

                    }

                }
            }
        }


    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .trendingproduct-section {
        padding: 30px 0;

        .trendingproduct-box {
            width: 100% !important;

            .trendingproduct-img {
                img {
                    padding: 15% 0;
                    height: 100%;
                }

                .icons {
                    display: none;
                }

            }

            .trendingproduct-text {
                span {
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .cart-button {
                width: 100%;
                border: none;
                background-color: #ffc400;
                padding: 5px;
                border-radius: 5px;
            }

            &:hover {
                .trendingproduct-img {
                    img {
                        transform: scale(1.1);
                    }

                    .icons {
                        .icon-box {
                            opacity: 1;
                            transform: translateX(0);

                        }

                    }
                }
            }


        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}


// @media (max-width: 576px) {
// }

// // Medium devices (tablets, 768px and up)
// @media(min-width: 576px) and (max-width: 768px) {}

// // Large devices (desktops, 992px and up)
// @media(min-width: 768px) and (max-width: 992px) {}

// // Extra large devices (large desktops, 1200px and up)
// @media (max-width: 1200px) {}