.header {
    z-index: 99;
    background-color: white;
    padding: 25px 0;



    .header-left {
        .logo{
            display: flex;
            align-items: center;
            svg{
                font-size: 30px;
            }
        }
    }

    .header-center {

        .header-ul {
            margin-bottom: 0px;



            .header-li {
                position: relative;

                a {
                    padding: 20px 0;
                    text-decoration: none;
                    color: black;
                }

                .dropped-item {
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    position: absolute;
                    top: 100%;
                    left: -40%;
                    opacity: 0;
                    visibility: hidden;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;
                    transition: 0.3s ease;
                    margin-top: 25px;
                    z-index: 999;


                    li {
                        padding: 20px;
                        width: 300px;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.296);
                        transition: 0.3s ease-in-out;

                        a {
                            padding: 20px 0;
                            text-decoration: none;
                            font-size: 15px;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin-left: 5px;
                            }
                        }

                        &:hover {
                            background-color: black;

                            a {
                                color: white;

                            }

                        }
                    }


                }

                .dropped-big-menu {
                    display: flex;
                    left: -30%;
                    transform: translateX(-30%);
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    position: absolute;
                    top: 100%;
                    opacity: 0;
                    visibility: hidden;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;
                    transition: 0.3s ease;
                    margin-top: 25px;
                    z-index: 999;
                    width: 1000px;


                    .dropped-big-menu-li {
                        padding: 20px;
                        width: 33%;
                        transition: 0.3s ease-in-out;

                        a {
                            padding: 20px 0;
                            text-decoration: none;
                            font-size: 15px;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin-left: 5px;
                            }
                        }

                        ul {
                            padding: 5px;

                            li {
                                padding: 5px;

                                a {
                                    &:hover {
                                        color: #6cb975;
                                    }
                                }
                            }
                        }


                    }

                }

                &:hover .dropped-item {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 15px;

                }

                &:hover .dropped-big-menu {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 15px;
                }
            }
        }

    }

    .header-right {
        display: flex;
        justify-content: flex-end;

        .icons {
            svg {
                width: 20px;
                margin-right: 5px;
            }
        }

        .login-button {
            margin-left: 15px;

            a {
                text-decoration: none;
                color: black;
                font-size: 18px;
            }
        }


        .user {

            position: relative;
            margin-left: 20px;

            span {
                font-size: 13px;
                font-weight: 500;
                cursor: pointer;
                margin-left: 7px;
                transition: 0.3s ease-in-out;
            }

            i {
                font-size: 10px;
                cursor: pointer;
            }

            ul {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                padding: 0px 0px;
                position: absolute;
                top: 38px;
                width: 150px;
                right: 0px;
                transition: 0.3s ease-in-out;
                display: inline-block;
                background: #fff;
                opacity: 0;
                transform: translateY(20px);
                visibility: hidden;
                z-index: 999999;

                li {
                    list-style: none;
                    font-size: 12px;
                    font-family: 'Times New Roman', Times, serif;
                    color: black;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    padding: 10px;
                    z-index: 999999999;

                    &:hover {
                        background-color: #515151;
                        color: white;

                    }
                }
            }

            &:hover {
                ul {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }
}


@media (max-width: 576px) {
    .header{
        .header-left{
            .logo{
                img{
                    margin-left: 5%;
                }
            }
        }
        .res-center{
            display: none;
        }
        .header-right{
            .icons{
                display: flex;
            }
            .user{
                span{
                    display: none;
                }
            }
        }
      }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
   
}

// Extra large devices (large desktops, 1200px and up)
@media(min-width: 992px) and (max-width: 1200px) {
   
}