.header {
    z-index: 99;
    background-color: white;
    padding: 25px 0;



    .header-left {}

    .header-center {

        .header-ul {
            margin-bottom: 0px;



            .header-li {
                position: relative;

                a {
                    padding: 20px 0;
                    text-decoration: none;
                    color: black;
                }

                .dropped-item {
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    position: absolute;
                    top: 100%;
                    left: -40%;
                    opacity: 0;
                    visibility: hidden;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;
                    transition: 0.3s ease;
                    margin-top: 25px;
                    z-index: 999;


                    li {
                        padding: 20px;
                        width: 300px;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.296);
                        transition: 0.3s ease-in-out;

                        a {
                            padding: 20px 0;
                            text-decoration: none;
                            font-size: 15px;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin-left: 5px;
                            }
                        }

                        &:hover {
                            background-color: black;

                            a {
                                color: white;

                            }

                        }
                    }


                }

                .dropped-big-menu {
                    display: flex;
                    left: -30%;
                    transform: translateX(-30%);
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    position: absolute;
                    top: 100%;
                    opacity: 0;
                    visibility: hidden;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;
                    transition: 0.3s ease;
                    margin-top: 25px;
                    z-index: 999;
                    width: 1000px;


                    .dropped-big-menu-li {
                        padding: 20px;
                        width: 33%;
                        transition: 0.3s ease-in-out;

                        a {
                            padding: 20px 0;
                            text-decoration: none;
                            font-size: 15px;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                margin-left: 5px;
                            }
                        }

                        ul {
                            padding: 5px;

                            li {
                                padding: 5px;
 
                                a {
                                    &:hover {
                                        color: #6cb975;
                                    }
                                }
                            }
                        }


                    }

                }

                &:hover .dropped-item {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 15px;

                }

                &:hover .dropped-big-menu {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 15px;
                }
            }
        }

    }

    .header-right {
        display: flex;
        justify-content: flex-end;

        .icons {
            svg {
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}