.blog-section {
    height: 120vh;
    padding: 100px 0;

    .blog-box {
        width: 100%;
        position: relative;

        .blog-img {
            overflow: hidden;
            img {
                width: 100%;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
    }

    .blog-text {
        width: 90%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10%;
        background-color: white;


        .text-top {
            span {
                font-weight: 500;

                &:last-child {
                    margin-left: 10px;
                }
            }

        }

        button {
            font-size: 14px;
            font-weight: 500;
            border: 2px solid black;
            padding: 15px 30px;
            background-color: white;
            transition: 0.2s ease-in-out;

            &:hover {
                background-color: black;
                color: white;
            }
        }

    }
}