#contact{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    .buttonBox {
        button {
            margin: 20px;
            padding: 10px 0;
            width: 80%;
            border: none;
            background-color:  #FF0000;
            color: white;
            border-radius: 5px;
        }
    }
}